:root{
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    font-size: 7px;
    /* background-color: palegreen; */
}
/* ----------------------------------------- Home Page----------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    /* background-color: blue; */
}

.logo {
    display: inline-block;
    /* background-color: aliceblue; */
    font-family: 'Rubik';
    padding: 5px;
    margin: 16px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav-bar{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px;
    padding: 0px;
    /* background-color: #E10098; */
}


.nav-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}

.nav-bar li {
    font-size: 15px;
    display: inline-block;
    padding: 5px;
    margin: 1rem;
}


.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: #E10098;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home h2 {
    font-size: 25px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
}

.btn {
    background-image: linear-gradient(to bottom right, #E10098, white) ;
    display: inline-block;
	margin: 20px;
	font-size: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	position: relative;
}


/* ----------------------------------------- Home Page End ----------------------------------------------------- */
/* ---------------------------------------------About me---------------------------------------------- */
.about-content-grid-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* grid-column-gap: 50px;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px; */
    
}

.about-content-grid-wrapper img {
    height: 200px;
    width: 250px;
    
}

.about-content-grid-container-day {

    display: flex ;
    justify-content: flex-start;
    flex-direction: column;
    
}
.about-content-container-night {
    
    display: flex ;
    justify-content: center;
    flex-direction: column;
   
    
}

.about-content-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
/* ---------------------------------------------About me end---------------------------------------------- */