body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.box {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.box h1 {
    background-color: orchid;
    text-align: center;
}

.box h2 {
    background-color: yellow;
    padding: 15px;
    text-align: center;
}

#nav{
    background-color: red;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}