body {
    font-family: 'Rubik';
    font-size: 20px;
    /* background-color: palegreen; */
}
/* ----------------------------------------- Home Page----------------------------------------------------- */
/* .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #E10098;
}


.container ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container li {
    display: inline-block;
} */

.container{
    position: relative;
    max-width: 100%;
    display:flex;
    background-color: white;
    padding-left: 10px;
}

.container ul {
    position: absolute;
    top: 20%;
    right: 20px;
    list-style: none;
    display: inline-block;
    padding-left: 250px;
    
}

.container ul li {
    display: inline-block;
    text-align: right;
}

.home h2 {
    font-size: 70px;
}

#webdev_focus_laptop {
    width: 100%;
    height: 100%;
}
/* ----------------------------------------- Home Page End ----------------------------------------------------- */
